.container {
	position: relative;
	width: 100%;
}
.container div {
	height: 300px;
}
.column-center {
	width: 34%;
	margin-left: 33%;
	position: relative;
	text-align: center;
}
h1 {
	text-align: center;
}
navbar div{
	height: 120px;
	text-align: center;
}