{% extends "layout.html" %}
{% block title %}Sopa CC{% endblock %}
{% block body %}
  <div class="container">
	  <div class="column-center">
		<h1>¿Como funciona?</h1>
		<p>Con 5 euros, recibes sopa, ensalada, pan, y un voto.
		<p>En cada evento de Sopa Cáceres hay cuatro presentaciones sobre proyectos que se tratan de temas diversos, desde arte, agricultura urbana, justicia social, emprendedores sociales, educación, tecnología y más.
		<p>Cada presentador tiene 4 minutos para lanzar su idea.
		<p>Los miembros del público pueden poner hasta 4 preguntas a cada presentador.
		<p>Después de las presentaciones, se anima a los miembros de la audiencia a discutir / debatir las posibilidades antes de votar.
		<p>Los miembros de la audiencia luego votan en qué proyecto piensan que beneficia a Cáceres más.
		<p>¡El presentador que obtiene la mayoría de los votos recibirá todo el dinero recogido en la puerta!
	  </div>
  </div>
{% endblock %}
