{% extends "layout.html" %}
{% block title %}Sopa CC{% endblock %}
{% block body %}
  <div class="container">
	  <div class="column-center">
	  	<h1>Eventos</h1>
	  		<p>Actualmente estamos preparando nuestro primer evento. Utiliza los enlaces en esta página para ofrecer tus servicios, o apuntarte en la lista de correos para mantenerte informado.
	  		<div class="centred-links">
		  		<h2>Ubicación</h2>
		  		<p>Quizás tienes el lugar ideal. 
		  		<p><a href="mailto:jamiebull1+sopacc@gmail.com?subject=Oferta de lugar - SopaCC">¡Puedo ofrecer un lugar!</a>
		  		<p>O quizás sabes a quien podemos hablar.
		  		<p><a href="mailto:jamiebull1+sopacc@gmail.com?subject=Sugerencia de lugar - SopaCC">¡Puedo sugerir un lugar!</a>
		  		<h2>Presentadores</h2>
		  		<p>Necesitamos ideas que llaman a la gente de Cáceres, y presentadores que quieren desarrollarlas. 
		  		<p><a href="mailto:jamiebull1+sopacc@gmail.com?subject=Sugerencia de presentador - SopaCC">¡Puedo sugerir un presentador!</a>
		  		<p>Quizás tienes un proyecto en mente.
		  		<p><a href="mailto:jamiebull1+sopacc@gmail.com?subject=Quiero presentar - SopaCC">¡Quiero presentar!</a>
		  		<h2>Asistencia</h2>
		  		<p><a href="mailto:jamiebull1+sopacc@gmail.com?subject=Oferta de asistencia - SopaCC">¡Puedo asistir!</a>
		  		<h2>Información</h2>
		  		<p>O quizás el proyecto de Sopa Cáceres todavía no te convence del todo, pero quieres seguir nuestro progreso.
		  		<p><a href="mailto:jamiebull1+sopacc@gmail.com?subject=Anadirme a la lista de correos - SopaCC">¡Manténgame informado!</a>
	  		</div>
	  </div>
  </div>
{% endblock %}
