<div class="push"></div>
</div>
<hr>
<div class="footer">
	<div class="social">
	  	<li class="social-icon">
            <a href="https://twitter.com/sopa_cc"><img src="{{ url_for('static', filename='img/social-icons/twitter.png') }}" height=50px></a>
		</li>
	  	<li class="social-icon">
            <a href="https://facebook.com/sopacaceres"><img src="{{ url_for('static', filename='img/social-icons/facebook.png') }}" height=50px></a>
		</li>
	  	<li class="social-icon">
            <a href="mailto:jamiebull1+sopacc@gmail.com"><img src="{{ url_for('static', filename='img/social-icons/email.png') }}" height=50px></a>
		</li>
	</div>
	<hr>
	<p>Sitio desarrollado y hospedado por <a href="http://youngbullindustries.com/">YoungBullIndustries</a> © 2017 | Iconos sociales <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> por <a href="https://www.alfredocreates.com/">Alfredo</a>
</div>